server:
  port: 8080
spring:
  session:
    store-type: redis
  redis: 
    cluster:
      nodes:
        - 172.16.113.115:6379
        - 172.16.113.116:6379
        - 172.16.113.117:6379    
    pool:  
      max-active: 200  
      max-idle: 8  
      max-wait: -1  
      min-idle: 0  
    timeout: 3000 
logging:
  level:
    org.springframework.security: DEBUG